name: Build Executable

# Define the event that triggers the workflow
on:
  push:
    branches:
      - main  # Run the workflow on push to the main branch
  pull_request:
    branches:
      - main  # Run the workflow on pull requests targeting the main branch

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]  # Matrix to build on multiple OS

    steps:
    # Step 1: Checkout the code from the repository
    - name: Checkout code
      uses: actions/checkout@v2

    # Step 2: Set up Python
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Specify the version of Python

    # Step 3: Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller pillow requests  # Install required packages

    # Step 4: Build the executable using PyInstaller
    - name: Build executable
      run: |
        pyinstaller --onefile --windowed main.py

    # Step 5: Upload the build artifacts (executables) as a downloadable artifact
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: executables-${{ matrix.os }}-${{ github.run_id }}  # Include OS and run_id for uniqueness
        path: dist/
