name: Build Executables for Different Platforms

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]  # Platforms to build for
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.0

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Executable for ${{ matrix.os }}
        run: |
          if [ ${{ matrix.os }} == 'ubuntu-20.04' ]; then
            echo "Building for Linux"
            pyinstaller --onefile --distpath ./dist/linux --workpath ./build/linux --specpath ./spec/linux main.py
          elif [ ${{ matrix.os }} == 'windows-latest' ]; then
            echo "Building for Windows"
            pyinstaller --onefile --distpath ./dist/windows --workpath ./build/windows --specpath ./spec/windows main.py
          elif [ ${{ matrix.os }} == 'macos-latest' ]; then
            echo "Building for macOS"
            pyinstaller --onefile --distpath ./dist/macos --workpath ./build/macos --specpath ./spec/macos main.py
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: executable-${{ matrix.os }}
          path: ./dist/${{ matrix.os }}/*

  # Optional: If you want to upload all the executables for different OS platforms separately
  upload-linux:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Upload Linux Executable
        uses: actions/upload-artifact@v4
        with:
          name: linux-executable
          path: ./dist/linux/*

  upload-windows:
    runs-on: windows-latest
    needs: build
    steps:
      - name: Upload Windows Executable
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: ./dist/windows/*

  upload-macos:
    runs-on: macos-latest
    needs: build
    steps:
      - name: Upload macOS Executable
        uses: actions/upload-artifact@v4
        with:
          name: macos-executable
          path: ./dist/macos/*
