name: Build Executables for Different Platforms

on:
  push:
    tags:
      - 'v*'  # This ensures the workflow is triggered when you push a tag like v1.0.0

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest', 'macos-latest', 'ubuntu-latest']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: pip install -r src/requirements.txt

    - name: Build Executable
      run: pyinstaller src/finwave_pipeline.py

    - name: Upload Executable Artifact
      id: upload_artifact
      uses: actions/upload-artifact@v4
      with:
        name: "finwave_pipeline_${{ matrix.os }}"
        path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Create Release with Dynamic Tag
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}  # Dynamically get the tag that triggered the workflow
        release_name: Release ${{ github.ref }}
        body: "Release of the build artifacts for version ${{ github.ref }}."
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Artifacts to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/${{ matrix.os }}/finwave_pipeline  # Path to the built executable
        asset_name: "finwave_pipeline_${{ matrix.os }}"  # The name of the artifact
        asset_content_type: application/octet-stream
        token: ${{ secrets.GITHUB_TOKEN }}
