on:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest']

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - run: pip install -r src/requirements.txt
    - run: pyinstaller src/finwave_pipeline.py
    # Optionally verify that it works (provided that it does not need user interaction)
    - uses: actions/upload-artifact@v4
      with:
        path: dist/*